page-intereses {

  .custom {

    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
   }
   .pagIntereses {
     background-color:  white !important; /* This sets the background color*/

    }
    table {
     border-collapse: separate;
     border-spacing:  5px 10px;
     width: 100%;

     color: white;
   }
   .custom td , th, tr{
     font-size:22px;
     color:white;
   }

   #circulo {

     width: 180px;
     height: 180px;
     background:white;
     -moz-border-radius: 90px;
     -webkit-border-radius: 90px;
     border-radius: 90px;

   }
  .imgAlign{
    position:absolute;
    visibility:visible;
    z-index:1;
    padding-top: -20px

  }



  /*Set the background to transparent for ion-item*/
  .custom .item {
    background-color: transparent;
    border:none;   /*Removes all borders*/
    border-top: 10px solid;   /*Top Border for each menu item*/
    border-bottom:2px solid;   /*Bottom border for each menu item*/
    border-color: #11a0fb ;   /*Sets colors for top and bottom border*/
    color: black;    /*Text color for each item*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:400;

    text-align: left;
    text-decoration: none;
  }

  .btn_interes{
    margin-top: 15%;
    padding: 11px 25px;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

    background: #56e17d;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  }


  /*Changes the border for the last item*/
  .custom .item:last-child {
    border-bottom: 1px solid #666;
  }

  .custom .item-complex .item-content, .dark .item-radio .item-content {
    background-color: transparent;
  }

  /*Just makes the type white*/
  .custom h2,
  .custom h3,
  .custom p,
  .custom a {
    color: white;  /*Text color for each item, overrides the color property above*/
  }
  .styled-select.slate {
     background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
     height: 34px;
     width: 240px;
  }

  .styled-select.slate select {
     border: 2px solid #2c8061;
     font-size: 16px;
     height: 34px;
     width: 100%;
  }
}
